</body>

<section>

    <footer class="pie-de-pagina text-white" style="background-color: #1c2331">

      <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../assets/img/gfa-logo2.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <a href="<?php echo base_url("/"); ?>"> <h4>Home</h4> </a>
                <a href="<?php echo base_url("quienes-somos"); ?>"> <h4>Quienes somos</h4> </a>
                <a href="<?php echo base_url("contacto"); ?>"> <h4>Contacto</h4> </a>
                <a href="<?php echo base_url("comercializacion"); ?>"> <h4>Comercializacion</h4> </a>
                <a href="<?php echo base_url("term-usos"); ?>"> <h4>Terminos y usos</h4> </a>
                
                
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    
                    <a href="https://www.facebook.com/?ref=logo" target="_blank">  <i class="fa-brands fa-square-facebook"></i>  </a>

                    <a href="https://www.instagram.com"  target="_blank">  <i class="fab fa-instagram"></i>   </a>

                    

                </div>
            </div>
      </div>

      <div class="grupo-2"     >
            <small> 
                <center>&copy; 2023 <b>GFA</b> - Todos los derechos reservados</center>
            </small>
      </div>
                
    </footer>


</section>
</html>