<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-0">
    <meta name="viewport" content="width=device-width, initialscale=1">

    <title>GFA-VideoJuegos</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" integrity=" " crossorigin="">
    <link href="../assets/css/miestilo2.css" rel="stylesheet" >
    <script src="../assets/js/bootstrap.bundle.min.js" integrity="" crossorigin=""></script>

    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css" >
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css" >

    <script src="../assets/fontawesome/js/brands.js" integrity="" crossorigin=""></script>

    <div class="container-fluid  "> 
        <div class="col- col-sm- col-md- col-lg- col-xl-">
            <img 
            src="../assets/img/Gfa2-1.png"   >   <!-- sirve para que al ser de cierto tamaño cambie a otra img mas pequeña diferente a la original --> 
        </div>
      
    </div>
    
    <?php
        header("Cache-Control: no-cache, must-revalidate"); // HTTP/1.1
        header("Expires: Sat, 1 Jul 2000 05:00:00 GMT"); // Fecha en el pasado
    ?>
    

</head>

<body>
    
