
.section-carrusel .titulo h2{
  font-size: medium;
}


.carousel, .carousel-inner > .item > img{
    
    display: block;
    height: 100%;
    width: 100%;

}

.section-carrusel{
    
    color: aliceblue;
    text-align: center; 
    align-items: center;
    text-align: justify;
}

.titulo{
    margin: 20px;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}


.seccion-parrafos{
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
.parrafo-titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

  
  .container-cuadro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-justify: center;
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
    font-size: 20px;
    background-color: #1c2331;
    padding: 5%;
  }
  
  .estrellas{
    display: inline-block;
  }



  .seccion-productos .card{
    width: 80%;
    height: 250px;
    display: block;
  }





/* .seccion-principal .grid-container {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 5px;
  
  
}
  
.seccion-principal .grid-item1 {
  background: blue;
  text-align: center;
  border: black 5px solid;
  
  
}

.grid-item2 {
  background: red;
  text-align: center;
  border: black 5px solid;
  
}

.grid-item3 {
  background: green;
  text-align: center;
  border: black 5px solid;
  
}
.grid-item4 {
  background: yellow;
  text-align: center;
  border: black 5px solid;
  
}  */


