
.section-carrusel .titulo h2{
  font-size: medium;
}



.carousel, .carousel-inner > .item > img{
    
    display: block;
    height: 100%;
    width: 100%;

}

.section-carrusel{
    
    color: aliceblue;
    text-align: center; 
    align-items: center;
    text-align: justify;
}

.titulo{
    margin: 20px;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}


.seccion-parrafos{
  text-align: justify;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
.parrafo-titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

  
  .container-cuadro{
    size-adjust: inherit;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-justify: center;
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
    font-size: 20px;
    background-color: #1c2331;
    padding: 2%;
    background-image: radial-gradient(circle, #2b2b7e ,  #28133d);
    
  }
  
  .estrellas{
    display: inline-block;
  }



  .seccion-productos{
    margin-top: 3%;
  }

  .seccion-productos .card img{
    width: 250%;
    
    display: block;
  }

  .seccion-productos .card .producto{
    
    width: 100%;
    height: 100%;
    display: block;
  }

  .producto div{  /* estas serie de comando sirve para recortar el texto que no entra en la zona */
    white-space: nowrap;  /*esto sirve para que la línea no se comporte de la manera predeterminada cuando se acaba el espacio, continuando en la parte de abajo, en una nueva línea */
    text-overflow: ellipsis; /* genera puntos suspensivos cuando se corta el texto */
    overflow: hidden; /* esconde el "overflow" osea cuando se sale del contenedor el texto */
}

.producto p{
  color: rgb(218, 218, 218);
}

 






@media screen and (max-width:800px){
    .producto p{

      font-size: small;
    }

    .container-cuadro{
      font-size: x-small;
    }
    
}
