

.container-terminos{
    margin-top: 30px;
    color: aliceblue;
    padding-left: 26%;
    padding-right: 26%;
    text-align: justify;

}

.container-terminos .h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-terminos .h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container-terminos p{
    font-family: 'Times New Roman', Times, serif;
}


@media screen and (max-width:800px) {
    .container-terminos{
        padding: 1%;
    }
}