.fila-comercializacion .card{
    width: 100%;
    display: block;
    margin: 1%;
    color: rgb(0, 0, 0);
    
    background-color: rgb(183, 177, 189);
    border-radius: 2px;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    padding: 2%;
}


.descripcion-envios{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}


.sub-titulos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tipo-entrega .card .sub-titulos{
    text-align: right;
    
    
}




.logos-env .col-2 img{
    display: block;
}





.fila-comercializacion .card img{
    width: 80%;
}



.cc img{
    display: block;
    width: 80%;
}

@media screen and (max-width:800px){

    .descripcion-envios{
        font-size: 24px;
    }

    .cc img{
        width: 80%;
    }
}


