body {
    background-color: rgb(34, 30, 46); 
    }

.carousel, .carousel-inner > .item > img{
    
    display: block;
    height: 90%;
    width: 90%;

}

.section-carrusel{
    
    color: aliceblue;
    text-align: center; 
    align-items: center;
    text-align: justify;
}

.titulo{
    margin: 20px;
    text-align: center;
    color: aliceblue; 
}



.navbar{
    font-size: 20px;
    width: 100%;
}







img { 
    display: block; /* esto sirve para que las imagenes sean responsivas */
    margin: 0 auto;
    max-width: 100%; 
  }

  .pie-de-pagina{
    background-color: rgb(22, 43, 88);
    margin-top: 50px ;
    width: 100%;
    height: 50%;

  }

  .pie-de-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creamos 3 columnas */
    grid: gap 50px;
    padding: 45px ;
  }

  .pie-de-pagina .grupo-1 .box figure{  /* mod el logo o figura */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center; /* esto centra solo de forma horizontal */
    align-items: center;  /* esto centra solo de forma vertical */
  }

  .pie-de-pagina .grupo-1 .box figure img{
    margin-top: 50px;
    width: 70%;
  }

  .pie-de-pagina .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .pie-de-pagina .grupo-1 p{
    color: gainsboro;

  }

  .pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: rgb(53, 63, 63);
    text-align: center;
    transition: all 300ms ease;  /* agregamos el efecto "ease" a los iconos */
  }

  .pie-de-pagina .grupo-1 .red-social a:hover{
    color:cyan
  }

  .pie-de-pagina-2{   /* se modifica la caja donde esta el copy */
    background-color: black;
    
    
    color: aliceblue;
    

  }

  .pie-de-pagina .grupo-2 small{ /* accedemos al texto de la caja zona small */
    font-size: 15px;
    
    
    
  }

  @media screen and (max-width:800px) {  /* para hacerlo responsivo */
    .pie-de-pagina .grupo-1{
        
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* al estar en 800px sera 1 columna en vez de 3 */
        grid: gap 50px;
        padding: 45px ;
      }
  }