@import url("estilos_term_uso.css");
@import url("estilos_quienes_somos.css");
@import url("estilos_contacto.css");
@import url("estilos_principal.css");
@import url("estilos_comercializacion.css");
@import url("estilos_usuario.css");

*{   /*hago un reseteo para que se agregen cosas que no queremos*/
  margin: 0%;    
  padding: 0;
  box-sizing: border-box;
}

.logo-principal{  /*caja que abarca todo la parte de arriba*/
  background-color: rgb(31, 21, 44);
  
}

.img-header{
  height: 50px;
  
}


#logo-nav > img{
  color: aqua;
}

body {
  
    background-color: rgb(34, 30, 46);
    /*background-image: url("../img/wpp5.jpg"); */
    background-repeat: repeat;
    min-height: 100vh; 
    color: azure; /* color global de letras*/
    }


    




.navbar{
    font-family: 'Lucida Sans';
    font-size: 20px;
    width: 100%;
}







html {
  position: relative;
  min-height: 100%;
}

img { 
    display: block; /* esto sirve para que las imagenes sean responsivas */
    margin: 0 auto;
    max-width: 100%; 
  }

/* --------------------pie de pagina --------------------------------------- */

  .pie-de-pagina{
    background-color: #1c2331;
    margin-top: 50px ;
    width: 100%;
    height: 35%;
    display: block;
    margin-bottom: 0%;

  }

  .pie-de-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creamos 3 columnas */
    grid: gap 50px;
    padding: 45px ;
  }

  .pie-de-pagina .grupo-1 .box figure{  /* mod el logo o figura */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center; /* esto centra solo de forma horizontal */
    align-items: center;  /* esto centra solo de forma vertical */
  }

  .pie-de-pagina .grupo-1 .box figure img{
    margin-top: 50px;
    width: 70%;
  }

  .pie-de-pagina .grupo-1 .box h4{
    
    color: aliceblue;
    text-decoration: underline;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .pie-de-pagina .grupo-1 p{
    color: gainsboro;

  }

  .pie-de-pagina .grupo-1 .red-social a{
    font-size: 50px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    
    text-align: center;
    transition: all 300ms ease;  /* agregamos el efecto "ease" a los iconos */
  }

  .pie-de-pagina .grupo-1 .red-social a:hover{ /* cuando se pase el mouse se pondra cyan */
    color:cyan
  }

  .pie-de-pagina-2{   /* se modifica la caja donde esta el copy */ 
    background-color: black;
    
    
    color: aliceblue;
    

  }

  .pie-de-pagina .grupo-2 small{ /* accedemos al texto de la caja zona small */
    font-size: 15px;
    

    
  }


  

  /* --------------------pie de pagina --------------------------------------- */





  /* --------------------media screens --------------------------------------- */

  @media screen and (max-width:800px) {  /* para hacerlo responsivo */
    .pie-de-pagina .grupo-1{
        
        width: 90%;
        margin-top: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* al estar en 800px sera 1 columna en vez de 3 */
        gap :50px;
        padding: 45px ;
        height: 90%;
      }


      .container-cuadro .row .col{
        font-size: medium;
        width: 90%;
        margin-top: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* al estar en 800px sera 1 columna en vez de 3 */
        gap :50px;
        padding: 45px ;
        height: 90%;
      }


      .barra-de-nav .nav-item{
        font-size: small;
      }
  }

