
    <section class="seccion-carrusel">
        <div class="titulo">
            <h1  class="display-1 text-center fw-bold">Productos Destacados </h1>
        </div>    
        
            <div class="container">
                <div class="row justify-content-md-center">
                              
                <div id="carouselExample" class="carousel slide">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>



                    <div class="carousel-inner">

                        <div class="carousel-item active">
                        <img src="../assets/img/re4r.jpg" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                        <img src="../assets/img/atomH.webp" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                        <img src="../assets/img/gowr.jpg" class="d-block w-100" alt="...">
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>


                </div>
            </div>   
        </section>

            
            
            <section class="seccion-parrafos">
            <div class="container">
            <div class="row justify-content-md-center">
                <div class="grid gap-3 ">

                    

                    
                    
                    <p class="h1 text-center fw-bold fst-italic text-white mt-0">
                        Bienvenidos a nuestro sitio
                    </p>

                    <p class="text-white text-justify">
                        Descuestos y muchos descuentos. Todos los dias especiales un nuevo descuento.
                        Tenemos todos los Doom, todos los resident evil y todo lo que se te ocurra. Tambien contamos con ofertas especiales a nuestros clientes mas fieles.
                    </p>

                    <p class=" text-white text-justify">
                        Bienvenidos al sitio donde encontraras todos los juegos que hayan salido hasta la fecha al mejor precio accesible.
                        Tenemos todos los Doom, todos los resident evil y todo lo que se te ocurra. Tambien contamos con ofertas especiales a nuestros clientes mas fieles.
                    </p>

                    <p class="text-white text-justify">
                        Bienvenidos al sitio donde encontraras todos los juegos que hayan salido hasta la fecha al mejor precio accesible.
                        Tenemos todos los Doom, todos los resident evil y todo lo que se te ocurra. Tambien contamos con ofertas especiales a nuestros clientes mas fieles.
                    </p>


                    

                </div>
            </div>
            </div>
            </section>


