<!DOCTYPE html>
<html>
<head >
    
    <link href="../assets/css/miestilo.css" rel="stylesheet" >

    <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
    <title>Ejemplo 1</title>
    <img src="../assets/img/logo2.jpg" wight="100" height="100" align="left" >
    <nav class="menu">
        <ul>
        <li><a href="https://www.google.com/">Inicio</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Contacto</a></li>
        </ul></nav>
</head>
<body>
    
<h1 class="titulo">Bienvenidos a Taller de Programación I</h1>
<p class="parrafo"> Compra videojuegos a un precio justo sin impuestos</p>
<div class="parrafo">
    <p >Hoy sólo práctico de configuración</p>
    <p>Esto es un párrafo dentro de un div
       <span style="color: rgb(162, 5, 5);"> y esto un span dentro de un
       párrafo.</span>
    <p>Otro parrafo</p>
       
</div>

<footer>pie de pagina</footer>c
    

</body>
</html>