
    <section class="seccion-carrusel">
        <div class="titulo">
            <h1  class="display-1 text-center fw-bold">Productos Destacados </h1>
        </div>    
        
            <div class="container-de-carrusel">
                <div class="row justify-content-md-center">
                              
                <div id="carouselExample" class="carousel slide">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>



                    <div class="carousel-inner">

                        <div class="carousel-item active">
                        <img src="../assets/img/banre4-1.png" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                        <img src="../assets/img/banah.png" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                        <img src="../assets/img/bangowr.png" class="d-block w-100" alt="...">
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>


                </div>
            </div>
        </section>

            
            
            <section class="seccion-parrafos">
            <div class="container">
            <div class="row justify-content-md-center">
                <div class="grid gap-3 ">

                    

                    
                    
                    <p class="h1 text-center fw-bold fst-italic text-white mt-0 parrafo-titulo">
                        ¡Bienvenido a GFA, tu destino confiable para la compra de videojuegos digitales!
                    </p>

                    <p class="text-white text-justify parrafo-intro">               
                        En GFA, nos apasiona el mundo de los videojuegos y nos dedicamos a ofrecer una amplia gama de emocionantes videojuegos digitales para entusiastas de los juegos en todo el mundo. Desde juegos de aventuras, acción, deportes, hasta juegos de rol y mucho más, nos esforzamos por ofrecer una selección diversa y emocionante que satisfaga los gustos de todos los jugadores.
                        
                    </p>

                


                    

                </div>
            </div>
            </div>



            <div class="container-cuadro">

            <div class="row justify-content-md-center">
                <div class="col">
                    <i class="fa-solid fa-cloud-arrow-down fa-2xl"></i> <b class="">Super rapido</b>
                </div>

                <div class="col">
                    <i class="fa-solid fa-shield-halved fa-2xl"></i> <b class="">Fiable y seguro</b>
                </div>

                <div class="col">
                    <i class="fa-solid fa-comments fa-2xl"></i> <b class="">Atencion al cliente</b>
                </div>

                <div class="col estrellas">
                    <img src="../assets/img/stars.png" alt="">
                     <b class="">Reseñas positivas</b>
                </div>

            </div>

            </div>

            </section>


            <section class="seccion-img-promo">
                <img src="../assets/img/lptg.gif" alt="">
                

            </section>


