<section>
    <div class="container-quienes-somos">

        <div class="row justify-content-md-center presentacion">
            
            
            <div class="col-lg-6">
                <img src="../assets/img/puños.jpg" alt="img">
            </div>

            <div class="col">
                <h1>¿Quienes somos?</h1>
                <p>Con más de 10 años de experiencia en la industria del gaming, GFA se ha convertido en un referente en la venta de videojuegos en línea. Fundada en 2012 por un grupo de entusiastas del gaming, nuestra empresa se ha dedicado a ofrecer una amplia gama de emocionantes videojuegos digitales para jugadores de todo el mundo.
                </p>
            </div>
            
            

        </div>

        

    <div class="row justify-content-md-center cards-staff">

        
        

        <div class="card col">
            <img src="../assets/img/staff/w1.jpg" alt="img">
            <div class="card-titulos">
                <h1>Laura Acevedo</h1>
                <h4>Asistente administrativa</h4>
            </div>
            
            <p class="descripcion">Laura es parte de nuestro dedicado y talentoso grupo de staff en nuestra empresa. 
                Con mas de 5 años de experiencia en el campo de la administracion, Laura se asegura de que nuestras operaciones diarias sean fluidas y eficientes.
                Como asistente administrativa, ella es experta en gestionar las comunicaciones internas y externas, coordinar reuniones y eventos, y brindar un excelente servicio al cliente.
            </p>
        </div>


        <div class="card col">
            <img src="../assets/img/staff/m11.jpg" alt="img">
            <div class="card-titulos">
                <h1>Marco Sampaoli</h1>
                <h4>Asesoramiento</h4>
            </div>
            
            <p class="descripcion">Marco es un apasionado de los videojuegos desde que era un niño. Con una amplia experiencia en la industria del gaming, Marco se ha convertido en un miembro clave de nuestro equipo de staff en nuestra página de venta de videojuegos.
                    
                Como asesor de videojuegos, Marco se encarga de brindar asesoramiento experto y soluciones personalizadas a nuestros clientes. Si estás buscando el juego perfecto para tu plataforma de juego favorita, Marco está aquí para ayudarte. Su profundo conocimiento sobre los últimos lanzamientos, las tendencias del mercado y las características de los diferentes géneros de juegos lo convierten en un verdadero experto en la materia.
            </p>
        </div>


        <div class="card col">
            <img src="../assets/img/staff/w2.jpg" alt="img">
            <div class="card-titulos">
                <h1>Jane Morales</h1>
                <h4>Gerente de servicio al cliente</h4>
            </div>
            <p class="descripcion">Jane es nuestra dedicada Gerente de Servicio al Cliente en nuestra página. Con una amplia experiencia en el servicio al cliente y una pasión por los videojuegos, Jane se asegura de que nuestros clientes tengan la mejor experiencia posible al interactuar con nuestro sitio web.
            </p>
        </div>

    </div>
        

</section>



