<section>
    <div class="container-quienes-somos">

        <div class="row justify-content-md-center quienes-somos">
            
            
            <div class="col-lg-6">
                <img src="../assets/img/puños.jpg" alt="img">
            </div>

            <div class="col">
                <h1>¿Quienes somos?</h1>
                <p>Somos una empresa apasionada por los videojuegos. 
                    Nuestro principal objetivo es hacer accesible los precios para cada pais con distinta situacion economica.
                    Queremos que todos puedan jugar y disfrutar de estas experiencias.
                </p>
            </div>
            
            

        </div>

        
        <div class="row  trabajador1">
            <h1 class="text-center">Miembros del staff</h1>    
            <div class="col-lg-6 laura-img">
                <img src="../assets/img/staff/w1.avif" alt="img">
            </div>

            <div class="col-lg-6">
                <h1>Laura Acevedo</h1>
                <p>Laura es parte de nuestro dedicado y talentoso grupo de staff en nuestra empresa. 
                    Con mas de 5 años de experiencia en el campo de la administracion, Laura se asegura de que nuestras operaciones diarias sean fluidas y eficientes.
                    Como asistente administrativa, ella es experta en gestionar las comunicaciones internas y externas, coordinar reuniones y eventos, y brindar un excelente servicio al cliente.
                </p>
                


                

            </div>
        </div>

        <div class="row  trabajador2">
            <div class="col-lg-6 marco-img">
                <img src="../assets/img/staff/m1.jpg" alt="img">
            </div>

            <div class="col-lg-6">
                <h1>Marco Sampaoli</h1>
                <p>Somos una empresa apasionada por los videojuegos. 
                    Nuestro principal objetivo es hacer accesible los precios para cada pais con distinta situacion economica.
                    Queremos que todos puedan jugar y disfrutar de estas experiencias.
                </p>
            </div>


        </div>


        <div class="row  trabajador3">
            <div class="col-lg-6 jane-img">
                <img src="../assets/img/staff/w2.jpg" alt="img">
            </div>

            <div class="col-lg-6">
                <h1>Jane Morales</h1>
                <p>Somos una empresa apasionada por los videojuegos. 
                    Nuestro principal objetivo es hacer accesible los precios para cada pais con distinta situacion economica.
                    Queremos que todos puedan jugar y disfrutar de estas experiencias.
                </p>
            </div>


        </div>



</section>



